:root{
    --nav-color: #101728;
    --active-color: #3055F5;
}
body{
    background-color: var(--nav-color);
    min-height: 100vh;
    background-image: none;
}
.modalidades{
    width: 17rem;
    height: 40vh;
    background-color: #498EF5;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 2px 4px 8px rgba(0,0,0,.5);
}

.modalidades:hover{
    transform: scale(1.05);
    box-shadow: 4px 8px 12px rgba(0,0,0,.5);
    transition: all .3s ease-in-out;
}
.modalidades h2{
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.modalidades h2::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 99px;
    bottom: -10px;
    left: 0;
    position: absolute;
    
}
.modalidades p{
    font-size: 1.1rem;
    text-transform: uppercase;
}
.container{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}

/* MODALIDADES INDIVIDUAIS */

.image{
    width: 100px;
    position: absolute;
    bottom: 10px;
}
#lol{
    font-size: 2rem;
    text-align: center;
}
#lol-img{
    bottom: -25px;  
}
#vava-img{
    bottom: -2px;
}