@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --nav-color: #101728;
    --active-color: #3055F5;
    --color-white: #fff;
}
body{
    background-image: url(../images/Home.png);
    color: var(--color-white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
